<template>
  <v-card>
    <v-card-title>Valor Gasto com um determinado emitente</v-card-title>
    <v-card-text>
      <v-row>
        <v-col cols="6">
          <v-autocomplete
              v-model="emitente"
              :items="emitentes"
              :loading="carregandoEmitentes"
              :search-input.sync="buscaEmitentes"
              hide-no-data
              label="Digite o nome de um emitente"
              placeholder="Digite o nome de um emitente"
              return-object
              outlined
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-card-actions class="justify-end">
        <v-btn color="primary" @click="recuperarDados">
          CONSULTAR
          <v-icon dense right>mdi-magnify</v-icon>
        </v-btn>
      </v-card-actions>
      <div v-if="carregando || dados.length">
        <v-divider/>
        <v-text-field class="mx-2"
                      v-model="busca"
                      append-icon="mdi-magnify"
                      label="Busca"
                      single-line
                      hide-details
        ></v-text-field>
        <v-data-table :headers="headers"
                      :items-per-page="20"
                      class="elevation-1 mt-3"
                      :items="dados"
                      :loading="carregando"
                      :search="busca"
        />
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
import analiseTransparenciaService from "@/analiseTransparencia.service";

export default {
  name: 'ConsultaValorGastoPorEmitente',

  data() {
    return {
      dados: [],
      busca: '',
      emitente: '',
      emitentes: [],
      buscaEmitentes: '',
      carregandoEmitentes: false,
      headers: [{text: 'Emitente', value: 'emitente'},
        {text: 'Valor Gasto', value: 'valorGasto'},
      ],
      carregando: false
    }
  },

  methods: {
    async recuperarDados() {
      this.carregando = true;

      await analiseTransparenciaService.recuperarValorGastoPorEmitente(this.emitente)
          .then(response => {
            this.dados = response.data.map(r => {
              return {
                emitente: r.emitente,
                valorGasto: parseFloat(r.valorGasto).toFixed(2)
              };
            });
          });

      this.carregando = false;
    }
  },

  watch: {
    buscaEmitentes(val) {
      if (val && val.length > 3) {
        this.carregandoEmitentes = true;
        analiseTransparenciaService.recuperarEmitentes(this.buscaEmitentes)
            .then(response => {
              this.emitentes = response.data;
              this.carregandoEmitentes = false;
            });
      }
    }
  }
}
</script>
