<template>
  <v-app style="background: linear-gradient(to bottom, #c4e3e0, #F7FBF8 300px);">
    <v-app-bar
        app
        color="primary"
        dark
    >
      <div id="home" @click="consultaSelecionada = 0" class="d-flex align-center">
        <v-icon x-large>mdi-text-box-search</v-icon>
        <v-spacer/>
        <h1 class="ml-1">Analise Transparência Janeiro 2022</h1>
      </div>
      <v-spacer/>
      <v-spacer/>
      <v-select :items="consultas"
                item-text="text"
                item-value="value"
                v-model="consultaSelecionada"
                outlined
                dense
                class="mt-6"
                label="Escolha a consulta desejada"
      />
    </v-app-bar>

    <v-main>
      <v-container fluid>
        <v-row justify="center">
          <v-col cols="10">
            <router-view :consultaSelecionada="consultaSelecionada"/>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  data() {
    return {
      consultaSelecionada: 0,
      consultas: [
        {text: 'Produtos com valor total gasto', value: 1},
        {text: 'Notas Fiscais por produto', value: 2},
        {text: 'Quantidade Notas Fiscais um Emitente fez para um Destinatario', value: 3},
        {text: 'Valor gasto com um determinado Emitente', value: 4},
        {text: 'Quantidade Notas Fiscais por Natureza da Operação', value: 5},
        {text: 'Valor total pago por destinatario', value: 6},
        {text: 'Media gasta por tipo produto', value: 7},
        {text: 'Inspeciona Estados', value: 8},
        {text: 'Notas Fiscais por periodo', value: 9},
        {text: 'Consulta detalhada em Nota Fiscal', value: 10}
      ]
    }
  }
};
</script>

<style>

#home {
  cursor: pointer;
}

.titulo {
  color: #3d4441;
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
}
</style>
